
        
        .card-cadastro {
            max-width: 900px;
            margin-top: 50px;
        }

        .btn-submit {
            background-color: #1e3a8a;
            border: none;
        }
        .btn-submit:hover {
            background-color:#3b82f6;
        }

        .list-group-item-ganho {
            color: #394777;
        }
        .list-group-item-gasto {
            color: #0a1d70;
        }

        .btn-edit {
            color: #3b82f6;
            background-color: transparent;
            border: none;
            padding: 0;
            margin-right: 5px;
            transition: color 0.15s ease-in-out;
        }
        .btn-edit:hover {
            color: #1e3a8a;
        }
        .btn-delete {
            color: #052977;
            background-color: transparent;
            border: none;
            padding: 0;
            transition: color 0.15s ease-in-out;
        }
        .btn-delete:hover {
            color: rgb(14, 8, 100);
        }